<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | J's CCC & Bar</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css/normalize.css">
    <link rel="stylesheet" href="design.css">
</head>
<body>
    <!-- Navbar -->
    <header>
        <nav class="navbar">
            <div class="logo">
                <a href="/">🍽️ Restaurant System</a>
            </div>
        
            <div>
                <ul class="nav-links">
                    <li><a href="base.html">Home</a></li>
                    <li><a href="/menu.html">Menu</a></li>
                    <li><a href="/orders.html">Orders</a></li>
                    <li><a href="/reservations.html">Reservations</a></li>
                    <li><a href="/contact.html">Contact</a></li>
                    <li><a href="page_login.html">login</a></li>
                </ul>
            </div>
        </nav>
    </header>


    <main>
        <h1 class="welcome-text">Login</h1>
        <div class="log-in-form">
            <div>
                <input type="text" placeholder="Username">
                <input type="password" placeholder="Password">
                <button type="submit">Log In</button>
            </div>
            
        </div>
        
    </main>

    <!-- Footer -->
    <footer>
        <p>&copy; 2025 Joyeuse's Caribbean Creole Cuisine & Bar. All rights reserved.</p>
    </footer>
</body>
</html>